//----------------------------------------------
//  Masts
//
//  @group mast
//-----------------------------------------------
.mast{
  padding: 9em 0 3em;

  &__header{
    padding-bottom: 2em;
  }
  &__title{
    max-width: 19em;
    text-align: left;
  }

  &__subtitle{
    font-family: $font-subtitle;
    font-size: 1em;
    color: rgba(0,0,0,0.5);

    @media (min-width: $mq-med){
      max-width: 80%;
    }
  }

  &__imgs{
    padding: 0;
    @include cf;

    @media (min-width: $mq-med){
      padding: 0 1em;
    }

    img{
      float: left;
      padding: 0;
      width: (100% / 2);
      animation: fade-up 1s ease both;
      @include nth-ani-delay(3, 0.35s);

      @media (min-width: $mq-med){
        padding: 0 1em;
        width: (100% / 3);
      }

      &:nth-of-type(3n+){
        @media (max-width: $mq-med){
          display: none;
        }
      }
    }
  }
  
  // About Page Mast
  .about &{
    @media (max-width: $mq-med){
      padding-bottom: 0;
    }
    @media (min-width: $mq-med){
      @include has-neg-offset($height: 30%);
    }
    .mast__img:nth-of-type(3n){
      @media (max-width: $mq-med){
        display: none;
      }
    }
  }
}
